<!DOCTYPE HTML>
<html>
<head>

  <script type="text/javascript" >
  window.onload = function () {
    var var1="<%= one%>" ;
    var var2="<%= two%>" ;
    var var3="<%= three%>" ;
    var var4="<%= four%>" ;
    var var5="<%= five%>" ;
    var var6="<%= six%>" ;
    var chart = new CanvasJS.Chart("chartContainer", {
      title:{
        text: "Cars on the way"              
      },
      data: [//array of dataSeries              
        { //dataSeries object
         type: "column",
         dataPoints: [
         { label: "1", y: parseInt(var1.toString())},
         { label: "2", y: parseInt(var2.toString())},
         { label: "3", y: parseInt(var3.toString())},                                    
         { label: "4", y: parseInt(var4.toString())},
         { label: "5", y: parseInt(var5.toString())},
         { label: "6", y: parseInt(var6.toString())}
         ]
       }
       ]
     });

    chart.render();

  }
  </script>
  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</head>
<body>
  <div id="chartContainer" style="height: 300px; width: 100%;">
  </div>
</body>
</html>